<launch>
    <arg name="rviz" default="false"/>

    <node pkg="limoncello" type="limoncello" name="limoncello" output="screen">
        <rosparam file="$(find limoncello)/config/mid360.yaml" />
    </node>

    <node pkg="rviz" name="rviz_limo" type="rviz" args="-d $(find limoncello)/config/rviz/limo.rviz" if="$(arg rviz)"/>
</launch>
